---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import FeatureSliderAvance from "../components/FeatureSliderAvances.astro";
import GalleryAvanceDeObra from "../components/GalleryAvanceDeObra.astro";
import { Image } from "astro:assets";
import BarraSeparadora from "../components/BarraSeparadora.astro";
// Img section Edge
import logoEdge from "../img/edge/edge-logo.png";
import efiMat from "../img/edge/edge-eficiencia-materiales.png";
import ahoEner from "../img/edge/edge-ahorro-energetico.png";
import ahoAgua from "../img/edge/edge-ahorro-agua.png";
import logoMetropoli from "../img/logo/logo-metropoli-transp-600.png";

import Sectores from "../components/Sectores.astro";
import Footer from "../components/Footer.astro";
---
<DefaultLayout>
    <FeatureSliderAvance />
    <div class="w-full p-4 flex flex-col items-center bg-azul-oscuro-mirador">
		<h2 class="text-center text-white font-bold xl:text-2xl">
			AVANCE DE OBRA
		</h2>
		<p class="text-white xl:text-xl">Proyecto en Construcción</p>
	</div>
    <section class="xl:w-full py-6 mt-8">
		<div class="xl:w-[1280px] px-4 lg:px-16 xl:mx-auto">
			<div>
				<h3 class="text-azul-oscuro-mirador text-center font-bold text-xl xl:text-3xl">Agosto 2024</h3>
			</div>
            <GalleryAvanceDeObra videoPath="https://vimeo.com/1007248022", urlImgPath="https://i.vimeocdn.com/video/1924091262-069a14114cb3273b7e6579910bc8df3a7634693db24a91f2011cc83e8a28e1dd-d?mw=2000&mh=571">
                <a href="/img/avances/2024/agosto/DJI_0672.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/agosto/DJI_0672.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/agosto/DJI_0674.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/agosto/DJI_0674.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/agosto/DJI_0676.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/agosto/DJI_0676.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/agosto/DJI_0679.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/agosto/DJI_0679.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
            </GalleryAvanceDeObra>
            <div>
				<h3 class="text-azul-oscuro-mirador text-center font-bold text-xl xl:text-3xl mt-12">Junio 2024</h3>
			</div>
            <GalleryAvanceDeObra videoPath="https://vimeo.com/985038455", urlImgPath="https://i.vimeocdn.com/video/1900632915-3839efdbf97821770ffd1e70859d782257a93559168bfd752be1b12b38f7f4ef-d?mw=960&mh=540">
                <a href="/img/avances/2024/junio/DJI_0594-min.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/junio/DJI_0594_thub.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/junio/DJI_0597-min.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/junio/DJI_0597_thub.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/junio/DJI_0608-min.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/junio/DJI_0608_thub.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/junio/DJI_0612-min.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/junio/DJI_0612_thub.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
            </GalleryAvanceDeObra>
            <div>
				<h3 class="text-azul-oscuro-mirador text-center font-bold text-xl xl:text-3xl mt-12">Mayo 2024</h3>
                <p class="mt-6 text-gray-600 text-center">En la torre de apartamentos, se avanzó en la fundida de la <b>estructura de los aptos en el piso 2</b> y en el armado de sus redes eléctricas e hidrosanitarias, además se inició la etapa de mampostería para la terminación de obra gris y comenzar prontamente los acabados. En los parqueaderos, se culminó la etapa de pilotajes y se avanza en el armado de la red de subdrenaje en el sótano 3, así como en los rellenos de nivelación y el armado de la cimentación y muros. Próximamente, se iniciará la construcción del lobby y los exteriores del proyecto que te permitirán visualizar cómo lucirán los accesos de este proyecto de mar.</p>
			</div>
            <GalleryAvanceDeObra videoPath="https://vimeo.com/954031617?share=copy", urlImgPath="https://i.vimeocdn.com/video/1864675923-f3ced2a4364c4424cabd2b5d5f4addc00a4998c53288c1f87c3fc129d360e784-d?mw=960&mh=540">
                <a href="/img/avances/2024/mayo/DJI_0486.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/mayo/DJI_0486.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/mayo/DJI_0491.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/mayo/DJI_0491.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/mayo/DJI_0494.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/mayo/DJI_0494.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/mayo/DJI_0500.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/mayo/DJI_0500.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
            </GalleryAvanceDeObra>
            <div>
				<h3 class="text-azul-oscuro-mirador text-center font-bold text-xl xl:text-3xl mt-12">Enero 2024</h3>
			</div>
            <GalleryAvanceDeObra videoPath="https://vimeo.com/947062219?share=copy", urlImgPath="https://i.vimeocdn.com/video/1853473448-9865a4338824c3334f173e1725ef88a22c9a86e9035bffbcbaab619ee9eae97d-d?mw=960&mh=540">
                <a href="/img/avances/2024/enero/DJI_0313-min.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/enero/DJI_0313-min.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/enero/DJI_0316-min.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/enero/DJI_0316-min.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/enero/DJI_0318-min.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/enero/DJI_0318-min.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2024/enero/DJI_0321-min.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2024/enero/DJI_0321-min.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
            </GalleryAvanceDeObra>
            <div>
				<h3 class="text-azul-oscuro-mirador text-center font-bold text-xl xl:text-3xl mt-12">Octubre 2023</h3>
                <p class="mt-6 text-gray-600 text-center">En octubre el movimiento de tierras avanzó en un 85% junto con la cimentación en la zona de parqueaderos con la confirmación de Dados, vigas, muros de contención y muros anclados. La torre avanza en la etapa de pilotaje y a su vez, avanza la impermeabilización de muros e instalación de sistema de drenaje en muros., así como en los rellenos de nivelación y el armado de la cimentación y muros. Próximamente, se iniciará la construcción del lobby y los exteriores del proyecto que te permitirán visualizar cómo lucirán los accesos de este proyecto de mar.</p>
			</div>
            <GalleryAvanceDeObra videoPath="https://vimeo.com/889160820?share=copy", urlImgPath="https://i.vimeocdn.com/video/1760647313-954a3868b4683b6fdd38ea68a0be24d35074c1f8a41575727c4fc03da75850fe-d?mw=960&mh=540">
                <a href="/img/avances/2023/octubre/DJI_0211-min.jpeg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/octubre/DJI_0211-min.jpeg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/octubre/DJI_0215-min.jpeg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/octubre/DJI_0215-min.jpeg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/octubre/DJI_0220-min.jpeg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/octubre/DJI_0220-min.jpeg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/octubre/DJI_0227-min.jpeg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/octubre/DJI_0227-min.jpeg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
            </GalleryAvanceDeObra>
            <div>
				<h3 class="text-azul-oscuro-mirador text-center font-bold text-xl xl:text-3xl mt-12">Septiembre 2023</h3>
                <p class="mt-6 text-gray-600 text-center">En septiembre, sumado a las excavaciones en la zona de parqueaderos continuamos con el relleno de material subrasante en esa misma área. Además, avanzamos en el relleno del área de la torre para conformar la plataforma para el inicio de cimentación y con la construcción de la red de subdrenaje para los sótanos.</p>
			</div>
            <GalleryAvanceDeObra>
                <a href="/img/avances/2023/septiembre/DJI_0142 (2).jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/septiembre/DJI_0142 (2).jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/septiembre/DJI_0147.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/septiembre/DJI_0147.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/septiembre/DJI_0161 (2).jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/septiembre/DJI_0161 (2).jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/septiembre/DJI_0172 (1).jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/septiembre/DJI_0172 (1).jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
            </GalleryAvanceDeObra>
            <div>
				<h3 class="text-azul-oscuro-mirador text-center font-bold text-xl xl:text-3xl mt-12">Agosto 2023</h3>
                <p class="mt-6 text-gray-600 text-center">Continuamos actividades de excavaciones en el área de parqueadero con un volumen de 9700 m3 y profundidades de 7 a 10 mts, llevamos 26300 m3 en total a la fecha. Estamos próximos a iniciar la instalación de filtros correspondientes a la red de subdrenaje en los sótanos y construcción de pilotes.</p>
			</div>
            <GalleryAvanceDeObra>
                <a href="/img/avances/2023/agosto/DJI_0058 (1).jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/agosto/DJI_0058 (1).jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/agosto/DJI_0061.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/agosto/DJI_0061.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/agosto/DJI_0064.jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/agosto/DJI_0064.jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/agosto/DJI_0065 (1).jpg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/agosto/DJI_0065 (1).jpg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
            </GalleryAvanceDeObra>
            <div>
				<h3 class="text-azul-oscuro-mirador text-center font-bold text-xl xl:text-3xl mt-12">Julio 2023</h3>
                <p class="mt-6 text-gray-600 text-center">Avanzamos en la etapa de Movimiento de Tierra donde se realizan cortes de terreno en la zona de la torre y parqueaderos con volúmenes de excavación de 16500 m3 y con profundidades entre 4 metros en el área de la torre y 7 metros en el área de parqueaderos respectivamente. Posteriormente, se estarán conformando los rellenos con material especificado por los Ing. de suelos y cimentaciones de las estructuras.</p>
			</div>
            <GalleryAvanceDeObra>
                <a href="/img/avances/2023/julio/DJI_0978-min.jpeg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/julio/DJI_0978-min.jpeg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/julio/DJI_0984-min.jpeg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/julio/DJI_0984-min.jpeg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/julio/DJI_0986-min.jpeg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/julio/DJI_0986-min.jpeg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
                <a href="/img/avances/2023/julio/DJI_0989-min.jpeg" data-fancybox="gallery-d" data-caption="Avance de Obra Mirador del Puerto">
                    <Image src="/img/avances/2023/julio/DJI_0989-min.jpeg" class="w-full lg:w-64 h-auto mt-3 lg:my-0 mx-0 lg:mx-2 border border-azul-oscuro-mirador p-2 inline-block"  alt="Avance agosto mirador" width=256 height=120 />
                </a>
            </GalleryAvanceDeObra>                                 
		</div>
	</section>
    <BarraSeparadora id="ubicacion" titleBarra="Ubicación" />
	<section class="my-6 px-16">
		<div>
			<p class="text-azul-oscuro-mirador text-center xl:text-xl">
				<b>Mirador del Puerto</b> está ubicado a 15 minutos del norte de
				la ciudad de Barranquilla.
			</p>
		</div>
	</section>
	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.598146581128!2d-74.94743638851186!3d10.993674289123453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42b14cf120b1f%3A0x71a089347194c37!2sMirador%20del%20Puerto!5e0!3m2!1ses-419!2sco!4v1713277044200!5m2!1ses-419!2sco"
		width="100%"
		height="480"
		style="border:0;"
		allowfullscreen=""
		loading="lazy"
		referrerpolicy="no-referrer-when-downgrade"></iframe>
	<section class="xl:w-full">
		<div class="my-6 px-16 xl:py-8 xl:w-[1280px] xl:mx-auto">
			<div>
				<p class="text-azul-oscuro-mirador text-center xl:text-xl">
					Somos un proyecto <b>certificado</b> amigable con el medio ambiente.
				</p>
			</div>
			<Image
				class="my-8 xl:w-96 mx-auto"
				src={logoEdge}
				alt="Logo Edge"
			/>
			<div>
				<p
					class="text-azul-oscuro-mirador text-center font-bold xl:text-xl"
				>
					EDGE es un sistema de certificación internacional de
					construcción sostenible que indica que un proyecto por sus
					características es más eficiente.
				</p>
			</div>
		</div>
	</section>
	<section class="xl:w-full">
		<div
			class="flex flex-wrap items-center justify-evenly xl:w-[1280px] xl:mx-auto"
		>
			<div class="w-40 xl:w-1/3 xl:p-8">
				<Image src={efiMat} alt="Eficiencia Materiales" />
			</div>
			<div class="w-40 xl:w-1/3 xl:p-8">
				<Image src={ahoEner} alt="Ahorro Energético" />
			</div>
			<div class="w-40 xl:w-1/3 xl:p-8">
				<Image src={ahoAgua} alt="Ahorro Agua" />
			</div>
		</div>
	</section>
	<section class="my-6 px-16">
		<div id="entorno">
			<h2
				class="text-azul-oscuro-mirador text-center font-bold xl:text-xl"
			>
				EL ENTORNO DE MIRADOR DEL PUERTO
			</h2>
		</div>
	</section>
	<section class="xl:w-full">
		<div class="flex flex-wrap xl:w-[980px] xl:mx-auto">
			<Sectores
				entorno={{
					img: "/src/img/entorno/nuevo-muelle-pto.jpg",
					alt: "Muelle Pto Colombia",
					title: "Nuevo Muelle Pto Colombia",
					description:
						"Importante obra turística y patrimonial de la región con 200 metros líneas de recorrido hacia el mar.",
					dist: "1Km / 5 Minutos",
				}}
			/>
			<Sectores
				entorno={{
					img: "/src/img/entorno/c-gastronomico-int.jpg",
					alt: "Centro gastronómico internacional Pto Colombia",
					title: "CENTRO GASTRONÓMICO INTERNACIONAL",
					description:
						"Nueva zona para disfrutar de deliciosa gastronomía frente al mar.",
					dist: "1.2Km / 7 Minutos",
				}}
			/>
			<Sectores
				entorno={{
					img: "/src/img/entorno/ventana-suenos.jpg",
					alt: "Ventana de los sueños Pto Colombia",
					title: "VENTANA DE LOS SUEÑOS PTO COLOMBIA",
					description:
						"El faro más alto de Colombia. Nuevo monumento histórico con un faro visible a 20 millas náuticas.",
					dist: "1.2Km / 7 Minutos",
				}}
			/>
			<Sectores
				entorno={{
					img: "/src/img/entorno/buenavista.jpg",
					alt: "Sector Buenavista B/quilla",
					title: "SECTOR BUENAVISTA BARRANQUILLA",
					description:
						"Sector comercial mas importante y visitado del norte de la ciudad de Barranquilla.",
					dist: "12Km / 15 Minutos",
				}}
			/>
			<Sectores
				entorno={{
					img: "/src/img/entorno/playas-sabanilla.jpg",
					alt: "Playas de Sabanilla",
					title: "PLAYAS DE SABANILLA",
					description:
						"Primera playa ordenada del Caribe colombiano con excelentes espacios familiares.",
					dist: "4Km / 15 Minutos",
				}}
			/>
			<Sectores
				entorno={{
					img: "/src/img/entorno/malecon-baq.jpg",
					alt: "Malecón del río Barranquilla",
					title: "MALECÓN DEL RÍO BARRANQUILLA",
					description:
						"El sitio más visitado por turistas y oriundos. Tiene extensión total de 5.5 Kilometros.",
					dist: "16Km / 35 Minutos",
				}}
			/>
		</div>
	</section>
	<BarraSeparadora id="lafirma" titleBarra="La Firma" />
	<section class="xl:w-full">
		<div class="my-6 px-16 xl:w-[980px] xl:mx-auto xl:px-36">
			<Image
				class="w-44 mx-auto"
				src={logoMetropoli}
				alt="Logo Metropoli"
			/>
			<div class="xl:text-xl">
				<p class="text-center">
					Somos <span class="text-verde-metropoli">Metropoli SA</span
					>, una constructora con una importante tradición,
					experiencia y reconocimiento en <span
						class="text-verde-metropoli"
						>Barranquilla y el Caribe Colombiano.</span>
				</p>
				<p class="text-center mt-6">
					La empresa y sus socios tenemos una experiencia de <span
						class="text-verde-metropoli">más de 40 años</span
					> en todos los ámbitos de la construcción.
				</p>
				<p class="text-center mt-6">
					Para nosotros un gran proyecto no se basa en la cantidad de
					metros cuadrados, sino en lo grande y especial que es para
					nuestros clientes.
				</p>
				<h3
					class="text-verde-metropoli italic border-y-2 border-verde-metropoli py-2 my-6 text-xl text-center"
				>
					ÚLTIMOS PROYECTOS...
				</h3>
			</div>
		</div>
	</section>
	<section class="xl:w-full">
		<div class="flex flex-wrap xl:w-[980px] xl:mx-auto xl:mb-16">
			<Sectores
				entorno={{
					img: "/src/img/entorno/puntamarina.jpeg",
					alt: "Puntamarina",
					title: "PUNTAMARINA",
					description: "Próximamente a construir.",
					description2: "Torres de apartamentos.",
					description3:
						"Km 68 vía al mar entre Cartagena y Barranquilla.",
				}}
			/>
			<Sectores
				entorno={{
					img: "/src/img/entorno/altamar-caribe.jpg",
					alt: "Altamar Caribe",
					title: "ALTAMAR CARIBE",
					description: "2023.",
					description2: "320 apartamentos",
					description3: "San José del Norte, Puerto Colombia.",
				}}
			/>
			<Sectores
				entorno={{
					img: "/src/img/entorno/puntamar.jpg",
					alt: "Puntamar",
					title: "PUNTAMAR",
					description: "2022.",
					description2: "75 apartamentos y 14 casas.",
					description3: "Punta Roca, Sabanilla.",
				}}
			/>
			<Sectores
				entorno={{
					img: "/src/img/entorno/gardens-view.jpg",
					alt: "Gardens View",
					title: "GARDENS VIEW",
					description: "2020.",
					description2: "78 apartamentos.",
					description3: "Punta Roca, Sabanilla.",
				}}
			/>
			<Sectores
				entorno={{
					img: "/src/img/entorno/aguamarina-beach-resort.jpg",
					alt: "Aguamarina Beach Resort",
					title: "AGUAMARINA BEACH RESORT",
					description: "2022.",
					description2: "340 unidades, apartamentos y casas.",
					description3: "Km 66 entre Cartagena y Barranquilla.",
				}}
			/>
			<Sectores
				entorno={{
					img: "/src/img/entorno/puntawa.jpg",
					alt: "Puntawa",
					title: "PUNTAWA",
					description: "2019.",
					description2: "98 unidades.",
					description3: "Punta Roca, Sabanilla.",
				}}
			/>
		</div>
	</section>
	<BarraSeparadora id="contacto" titleBarra="Contacto" />
	<Footer />
</DefaultLayout>